{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <p>Hello world welcome to my project on Django</p>
    <h1>My name is John Doe</h1>
    <h2>My name is John Doe</h2>
    <h3>My name is John Doe</h3>
    <h4>My name is John Doe</h4>
    <h5>My name is John Doe</h5>
    <h6>My name is John Doe</h6>
    <p>Below is the Django structure</p>
    <ul>
        <li>Model</li>
        <li>View</li>
        <li>Template</li>
    </ul>
    <a href="https://melbite.com/Dedan-Okware/4pKYQzRZup6o1sFunlH8">Django Tutorial Part 1</a>
    <h1>Author: Okware Dedan</h1>
    <img src="https://pbs.twimg.com/profile_images/1590977988572618752/M6wpEPG__400x400.jpg" alt="">
</body>

</html>